*
!vimrc
!bashrc
!bash_profile
!gitignore
!tmux_macos.conf
!tmux_linux.conf
!.gitignore
!bash_aliases
!bash_exports
!bash_functions
!profile*.png
!Makefile
!alacritty_macos.yml
!alacritty_linux.yml
!init.vim
!plugins.sh
